# ******************************************************************************
# *                                                                            *
# *                          PolyGen Grammars Project                          *
# *                                                                            *
# *                https://github.com/tajmone/polygen-grammars                 *
# *                                                                            *
# ******************************************************************************

# ==============================================================================
#                            Line Endings Conversion                            
# ==============================================================================
# Set Git's default behaviour to text-files autodetection, in case users don't
# have `core.autocrlf` set:
* text=auto

# ------------------------------------------------------------------------------
#                    Text Files (EOL Normalization Settings)                    
# ------------------------------------------------------------------------------

## ================
## PolyGen Grammars
## ================
*.grm          text

## ================
## Documentation
## ================
*.md           text
LICENSE        text

## ================
## Git settings
## ================
.gitattributes text
.gitconfig     text
.gitignore     text
.gitmodules    text

# ------------------------------------------------------------------------------
#                                  Binary Files                                 
# ------------------------------------------------------------------------------
# Explicitly declare all files that are binary and shouldn't be modified by Git:

## =========================
## PolyGen Compiled Grammars
## =========================
*.grm.o        binary

# ==============================================================================
#                                GitHub Linguist                                
# ==============================================================================
#  -- https://github.com/github/linguist
#
# Manually define/override some extension so that GitHub's Linguist library can
# 1) Correctly gather statistics on source files, and
# 2) Use proper syntax highlighting on GitHub's WebUI.

## ============================
## PolyGen Grammars (sources)
## ============================
*.grm    linguist-language=EBNF
